{% extends 'base.html' %}

{% block title %}
Files
{% endblock %}

{% block body %}
    <h2>Files page</h2>

    <form action="#" method="post" enctype="multipart/form-data">
        <input type = "file", name = "file">
        <input type = "submit", value = "upload">
    </form>
    <br>

    {% for i in range(filecount) %}
    <a href="files/{{filenames[i]}}"> {{ filenames[i] }} </a><br>
    {% endfor %}

{% endblock %}