{% extends 'base.html' %}

{% block title %}
Notes
{% endblock %}

{% block body %}
    <h2>Notes page</h2>

    <form action="#" method="post">
        <input type = "text", name = "note">
        <input type = "submit", value = "submit">
    </form>
<br>
    {% for i in range(noteslen) %}
        <li>{{ displaynotes[i] }}</li>
    {% endfor %}

{% endblock %}